body {
    font-family: Arial, sans-serif;
    background-color: #ffdcb6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.img {
    text-align: center;
    margin-bottom: 30px;
}

.img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333333;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    color: #555555;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}

.helps {
    margin-bottom: 30px;
}

.helps ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.helps li {
    margin-bottom: 15px;
}

.donate-btn {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    text-align: center;
    background-color: #ff3366;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.donate-btn:hover {
    background-color: #00cc99;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #ffc107;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
